Q1. Create a list of 5 random numbers and print the list.

In [2]:
import random

numbers = random.sample(range(1, 100), 5)
print("Original list:", numbers)

Original list: [37, 73, 43, 99, 51]

Q2. Insert 3 new values to the list and print the updated list.

In [3]:
numbers.extend([101, 202, 303])
print("Updated list:", numbers)

Updated list: [37, 73, 43, 99, 51, 101, 202, 303]

Q3. Try to use a for loop to print each element in the list.

In [4]:
print("Elements in the list:")
for num in numbers:
    print(num)

Elements in the list:
37
73
43
99
51
101
202
303

Q4. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

In [5]:
person = {
    'name': 'John',
    'age': 25,
    'address': 'New York'
}
print("Initial dictionary:", person)

Initial dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}

Q5. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [7]:
person['phone'] = '1234567890'
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

Q6.Create a set with values 1, 2, 3, 4, and 5.

In [6]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)

Original set: {1, 2, 3, 4, 5}

Q7. Add the value 6 to the set created in Q1.

In [8]:
my_set.add(6)
print("Set after adding 6:", my_set)

Set after adding 6: {1, 2, 3, 4, 5, 6}

Q8. Remove the value 3 from the set created in Q1.

In [9]:
my_set.discard(3)
print("Set after removing 3:", my_set)

Set after removing 3: {1, 2, 4, 5, 6}

Q9. Create a tuple with values 1, 2, 3, and 4

In [10]:
my_tuple = (1, 2, 3, 4)
print("Tuple:", my_tuple)

Tuple: (1, 2, 3, 4)

Q10. Print the length of the tuple created in Q1.

In [11]:
print("Length of tuple:", len(my_tuple))

Length of tuple: 4