Exercise 1: (Score : 1) Create a numpy array containing the numbers from 1 to 10, and then reshape it to a 2x5 matrix.

In [1]:
import numpy as np

arr = np.arange(1, 11)
reshaped_arr = arr.reshape(2, 5)
print(reshaped_arr)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

Exercise 2: (Score : 1) Create a numpy array containing the numbers from 1 to 20, and then extract the elements between the 5th and 15th index.

In [2]:
arr = np.arange(1, 21)
sliced = arr[5:16]  # from index 5 to 15
print(sliced)

[ 6  7  8  9 10 11 12 13 14 15 16]

Exercise 3: (Score : 2) Create a Pandas series with the following data: {'apples': 3, 'bananas': 2, 'oranges': 1}. Then, add a new item to the series with the key 'pears' and the value 4.

In [3]:
import pandas as pd

fruits = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})
fruits['pears'] = 4
print(fruits)

apples     3
bananas    2
oranges    1
pears      4
dtype: int64

Exercise 4: (Score : 2) Create a dataframe with the following columns: name, age, and gender. The dataframe should have 10 rows of data.

In [4]:
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Fay', 'Grace', 'Hank', 'Ivy', 'John'],
    'age': [25, 32, 28, 40, 22, 30, 26, 38, 29, 33],
    'gender': ['F', 'M', 'M', 'M', 'F', 'F', 'F', 'M', 'F', 'M']
}
df = pd.DataFrame(data)
print(df)

      name  age gender
0    Alice   25      F
1      Bob   32      M
2  Charlie   28      M
3    David   40      M
4      Eve   22      F
5      Fay   30      F
6    Grace   26      F
7     Hank   38      M
8      Ivy   29      F
9     John   33      M

Exercise 5: (Score : 1) Add a new column to the data frame created in question 1, called occupation. The values for this column should be Programmer, Manager, and Analyst, corresponding to the rows in the dataframe.

In [5]:
occupations = ['Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer']
df['occupation'] = occupations
print(df)

      name  age gender  occupation
0    Alice   25      F  Programmer
1      Bob   32      M     Manager
2  Charlie   28      M     Analyst
3    David   40      M  Programmer
4      Eve   22      F     Manager
5      Fay   30      F     Analyst
6    Grace   26      F  Programmer
7     Hank   38      M     Manager
8      Ivy   29      F     Analyst
9     John   33      M  Programmer

Exercise 6: (Score : 1) Select the rows of the dataframe where the age is greater than or equal to 30.

In [6]:
age_30_plus = df[df['age'] >= 30]
print(age_30_plus)

    name  age gender  occupation
1    Bob   32      M     Manager
3  David   40      M  Programmer
5    Fay   30      F     Analyst
7   Hank   38      M     Manager
9   John   33      M  Programmer

Exercise 7: (Score : 2) Convert this dataframe to a csv file and read that csv file, finally display the contents.

In [7]:
# Save to CSV
df.to_csv('people.csv', index=False)

# Read from CSV
read_df = pd.read_csv('people.csv')
print(read_df)

      name  age gender  occupation
0    Alice   25      F  Programmer
1      Bob   32      M     Manager
2  Charlie   28      M     Analyst
3    David   40      M  Programmer
4      Eve   22      F     Manager
5      Fay   30      F     Analyst
6    Grace   26      F  Programmer
7     Hank   38      M     Manager
8      Ivy   29      F     Analyst
9     John   33      M  Programmer